name: Django Docker CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t django-app .

    - name: Run Django check inside container
      run: docker run django-app python manage.py check

    - name: Run tests inside container
      run: docker run django-app python manage.py test
