{% extends "base.html" %}

{% block content %}
<h2 class="page-title">My Applications</h2>

<div class="applications-container">
{% if applications %}
    {% for app in applications %}
        <div class="application-card">
            <h3>{{ app.job.title }}</h3>
            <p>{{ app.job.description }}</p>
            <p><b>Location:</b> {{ app.job.location }}</p>

            <span class="status applied">Applied</span>
        </div>
    {% endfor %}
{% else %}
    <p class="no-apps">You have not applied for any jobs yet.</p>
{% endif %}
</div>
{% endblock %}
